<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="seller/layout/header :: head"></head>
<body class="animsition">
<div th:replace="seller/layout/header :: header"></div>
<!-- Product -->
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a th:href="@{/index.html}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
				Add New Product
        </span>
    </div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <form th:action="@{/seller/product/save}" th:object = "${product}" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">

                    <div class="wrap-pic-w pos-relative">
                        <div class="image-upload">
                            <label for="file-input">
                                <img th:src="@{/img/placeholder-portrait.png}" alt="IMG-PRODUCT" id="product_image">
                            </label>
                            <input id="file-input" type="file" accept="image/*" onchange="readURL(this);" name="image"/>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        <input type="text" placeholder="Your product name" th:field="*{name}">
                    </h4>

                    <span class="mtext-106 cl2">
								<div class="input-group">
									<span class="input-group-addon">IDR</span>
									<input type="number" id="rupiah" class="form-control" placeholder="0" th:field="*{price}">
									<span class="input-group-addon">.00</span>
								</div>
						</span>

                    <p class="stext-102 cl3 p-t-23">
                        <textarea name="description" id="description" cols="68" rows="2" th:field="*{description}" placeholder="Your product description."></textarea>
                    </p>

                    <!--  -->
                    <div class="p-t-33">
                        <div class="flex-w flex-r-m p-b-10">
                            <span class="pr-5">Stock</span>
                            <div class="size-204 flex-w flex-m respon6-next">
                                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>
                                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1" th:field="*{stockAvailable}">

                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div>

                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" type="submit">
                                    Add Product
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>
<div th:replace="seller/layout/footer :: footer"></div>
</body>
</html>